<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>
       <h1>Trails by Area</h1>
       <p>Colorado has hundreds of miles of trails, some of which are rideable all year round. Select your riding area and find your new favorite trail.</p>
       <% if(currentUser && currentUser.isAdmin()) { %>
  <a href="/topics/new" class="btn btn-info">Add an Area</a>
<% } %>
<hr>
      <ul class="list-group">
<!-- #1 -->
        <% topics.forEach((topic) => { %>
<!-- #2 -->
          <li class="list-group-item">
            <a href="/topics/<%= topic.id %>"> <%= topic.title %> </a>
          </li>
        <% }) %>
      </ul>

    </main>
  </body>
</html>
